* {
	box-sizing: border-box;
}
[class*="col-"] {
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}
@media only screen and (min-width: 768px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

header {
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}


.logo {
	display: block;
	position: relative;
	height: auto;
	max-width: 100%;
	float: left;
	margin: auto;
}
.logo-wrap {
	padding-left: 50px;
	padding-right: 50px;
}


.menu {
   
   margin: auto;
   overflow:hidden;
   float: right;
}
.menu ul.topnav  {
	list-style-type: none;
	text-align: center;
	padding: 20px 0px;
	
}
html, body {
	margin: 0px;
	font-family: 'Yrsa';
	font-size: 20px;
	background-color: f4f4f4;
}

h1 {
	font-size: 44px;
	font-family: 'Yrsa';
}
.menu ul.topnav li {
	
	display: inline-block;
	line-height: 20px;
	margin: 0px;
	padding: 0px 30px;
}
.menu ul.topnav li a {
	color: #C0B283;
	display: block;
	text-decoration: none;
	position: relative;
	
	padding: 0px;
}
.menu ul.topnav a:hover {
	color: #373737;
}
@media screen and (min-width: 680px) {
.menu ul.topnav li a:after {
	content: "";
	display: block;
	background-color: #C0B283;
	position: absolute;
	left: 0;
	width: 0;
	height: 3px;
	transition: width 0.5s linear;
}
.menu ul.topnav li a:hover:after {
	width: 100%;
}
}

.menu ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  .menu ul.topnav li {display: none;}
  .menu ul.topnav li.icon {
    display: inline;
  }
  .menu ul.topnav {
	background-color: #373737;
	padding: 0px;
	margin-bottom: 0px;
	  }
  .menu ul.topnav li {
	padding: 20px 30px;
  }
  header {
	  padding-bottom: 0px;
  }
}
@media screen and (max-width:680px) {
  .menu ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  .menu ul.topnav.responsive li a {
    display: block;
    text-align: center;
  }
}
.intro {
	height: 100%;
	text-align: center;
	padding: 0px;
	background-image: url(../images/background.jpg);
	margin-top: 0px;
	background-size: cover;
	margin-bottom: 0px;
	padding-bottom: 120px;
	padding-top: 50px;
}
.floating-box{
	display: inline-block;
	margin: 0px;
	padding: 40px;
	width: 500px;
	vertical-align: top;
}
.selfie {
	border-radius: 50%;
	float: left;
	max-width: 100%;
	height: auto;
	
}
.picture {
	padding: 0px 0px 30px 30px;
}
.myself {
	padding: 0px;
	background-color: rgba(244, 244, 244, 0.4);
	border-radius: 20px;
	transition: background 0.5s;
}

.myself:hover {
	background-color: rgba(244, 244, 244, 0.8);
}



blockquote:before {
display: block;
content: "\201C";
position: relative;
right: 180px;
top: 20px;
font-size: 80px;
color: #7a7a7a;
}
blockquote:after {
	display: block;
content: "\201D";
position: relative;
left: 150px;
font-size: 80px;
color: #7a7a7a;
}
.intro.picture {
	padding-top: 10px;
	overflow: hidden;
}
@media screen and (max-width: 600px) {
 .contact-box1  {
	float: none;
	
	margin: 0px;
	padding: 0px;
	max-width: 100%;	
 }
 .floating-box {
	float: none;
	
	max-width: 100%;	
 }
 .selfie {
	 margin-left: 0px;
	 margin-right: 0px;
	 margin-top: 40px;
 }
 .contact-box2{
	 margin: 0px 0px 0px 0px;
	 padding: 0px 0px 0px 0px;
	 float: none;
	 max-width: 100%;
	 height: auto;
 }
 .contact {
	 padding: 0px;
	 margin: 0px;
	 max-width: 100%;
 }
}
@media screen and (max-width: 500px) {
 .card-container {
	 margin: 0px;
	 max-width: 100%;
	 
	 
	 
 }
}
.testimonials {
	text-align: center;
	background-color: #F4F4F4;
	margin-top: 0px;
	padding-top: 30px;
	padding-bottom: 70px;
	
}
.slider {
	max-width: 750px;
	height: 280px;
  margin: auto;
  text-align: center;
	
	position: relative;
	overflow: hidden;
}
.myslides img{
	border: 2px solid #373737;
	vertical-align: bottom;
	border-radius: 10px;
	width: 100%;
	height: auto;
	-webkit-animation-name: slideInLeft;
	-moz-animation-name: slideInLeft;
  animation-name: slideInLeft;
  animation-duration: 2s;
  -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
   -moz-animation-timing-function: ease-out;

}
.slider div {
	
  width: 100%;
  display: none;
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-moz-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.button {
	background-color: #C0B283;
	border-radius: 30px;
	padding: 15px;
	text-decoration: none;
	color: #373737;
	transition: ease-in-out 1s;
}
.button:hover {
	
	border-radius: 0px;
}
.portfolio {
	text-align: center;
	background-color: white;
	padding: 15px;
}
.portfolio-items {
	display: inline-block;
	max-width: 300px;
	padding: 20px;
	vertical-align: middle;
	margin: 10px;
}
.portfolio-items img {
	width: 100%;
	height: auto;
	padding: 0px;
}
.contact{
	text-align: center;
	padding: 30px;
	background-color: #F4F4F4;
	margin: 0px;
}
.contact-box1 {
	margin: auto;
	text-align: center;
	padding: 10px 30px;
	float: none;
}
.contact-box2 {
	
	max-width: 500px;
	margin: 20px auto;
	vertical-align: top;
	height: 400px;
}

.card-container {
	margin: auto;
	width: 400px;
	height: 300px;
	position: relative;
	perspective: 1000px;
}
.card{
  text-align:center;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 2.0s ease-in-out;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 5px;
  padding: 30px;
}
.face.front{
  padding-top: 60px;
  background-color: #fafafa; 
  border: 1px solid darken(#fafafa, 12%);
  box-shadow: 0 4px 7px rgba(0,0,0,0.15);
  z-index: 2;
  transform: rotateY(0deg);
}
.face.back {
  padding-top: 30px;
  display: block;
  background: #DCD0C0;
  border: 1px solid darken(#DCD0C0, 12%);
  box-shadow: 0 4px 7px rgba(0,0,0,0.15);
  box-sizing: border-box;
  transform: rotateY(180deg);
}
.card-container.in-view .card  {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
#maria {
	max-width: 100%;
	height: auto;
	margin: auto;
	margin-top: 30px;
}

footer {
	background-color: #373737;
	width: 100%;
	margin: auto;
	padding: 50px 0 50px 0;
}
ul.footernav {
	list-style-type: none;
	text-align: center;
}
ul.footernav li {
	display: inline-block;
	padding: 10px 50px 0 0;
}
ul.footernav li a{
	text-decoration: none;
	color: #C0B283;
}
ul.footernav li a:hover {
	color: #DCD0C0;
}
